<div class="detail-Container">
  <div class="detail-Container_Item card">
    <div class="detail-Container_Title">
      <h1>{{ post.title }}</h1>
    </div>
    <div class="detail-Container_Detail">
      <p>{{ post.detail }}</p>
    </div>
    <div class="detail-Container_Limit">
      <p>
        期限&nbsp;:
        <ng-container *ngIf="post.limit">
          <span>{{ post.limit | date: "yyyy/MM/dd" }}</span>
        </ng-container>
        <ng-container *ngIf="!post.limit">
          <span>-</span>
        </ng-container>
      </p>
    </div>
    <div class="detail-Container_Tasks">
      <ng-container *ngFor="let task of post.tasks">
        <div class="detail-Container_Task">
          <ng-container *ngIf="task.is_done;else isntDone">
            <p class="checked" (click)="uncheck(task)">{{ task.content }}</p>
          </ng-container>
          <ng-template #isntDone>
            <p class="not-checked" (click)="check(task)">{{ task.content }}</p>
          </ng-template>
        </div>
      </ng-container>
    </div>
    <div class="detail-Container_ItemBottom">
      <div class="detail-Container_Favorite">
        <ng-container *ngIf="post.favo_status;else noFavo">
          <p (click)="deleteFavo(post)" class="favorite">いいね&nbsp;{{post.favorites_length}}</p>
        </ng-container>
        <ng-template #noFavo>
          <p (click)="addFavo(post)">いいね&nbsp;{{post.favorites_length}}</p>
        </ng-template>
      </div>
      <div class="detail-Container_Comment">
        <p class="far fa-comment-dots"></p>
        <span>&nbsp;{{post.comments.length}}</span>
      </div>
      <div class="detail-Container_Account">
        <p>{{post.User.name}}</p>
      </div>
      <div class="detail-Container_Date">
        <p>{{ post.created_at | date: "yyyy/MM/dd hh:mm" }}</p>
      </div>
    </div>
  </div>
  <app-comments [post]="post"></app-comments>
</div>
