<div class="list-Container">
  <app-search></app-search>
  <div class="list-Container_Items">
    <ng-container *ngFor="let post of posts">
      <div class="list-Container_Item card">
        <div [routerLink]="['/detail', post.id]" class="list-Container_Inner">
          <div class="list-Container_Title">
            <h1>{{ post.title }}</h1>
          </div>
          <div class="list-Container_Limit">
            <p>
              期限&nbsp;:
              <ng-container *ngIf="post.limit">
                <span>{{ post.limit | date: "yyyy/MM/dd" }}</span>
              </ng-container>
              <ng-container *ngIf="!post.limit">
                <span>-</span>
              </ng-container>
            </p>
          </div>
          <div class="list-Container_Tasks">
            <ng-container *ngFor="let task of post.tasks">
              <div class="list-Container_Task">
                <ng-container *ngIf="task.is_done;else isntDone">
                  <p class="checked">{{ task.content }}</p>
                </ng-container>
                <ng-template #isntDone>
                  <p class="not-checked">{{ task.content }}</p>
                </ng-template>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="list-Container_ItemBottom">
          <div class="list-Container_Favorite">
            <ng-container *ngIf="post.favo_status;else noFavo">
              <p (click)="deleteFavo(post)" class="favorite">いいね&nbsp;{{post.favorites_length}}</p>
            </ng-container>
            <ng-template #noFavo>
              <p (click)="addFavo(post)">いいね&nbsp;{{post.favorites_length}}</p>
            </ng-template>
          </div>
          <div class="list-Container_ItemBottomRight" [routerLink]="['/detail', post.id]">
            <div class="list-Container_Comment">
              <p class="far fa-comment-dots"></p>
              <span>&nbsp;{{post.comments.length}}</span>
            </div>
            <div class="list-Container_Account">
              <p>{{post.User.name}}</p>
            </div>
            <div class="list-Container_Date">
              <p>{{ post.created_at | date: "yyyy/MM/dd hh:mm" }}</p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

