<div class="login-Main center">
  <!-- <div class="login-Main_Content"> -->
  <div class="login-Main_Card card">
    <div class="login-Main_Border"></div>
    <div class="login-Main_Form">
      <form [formGroup]="loginForm">
        <div class="login-Main_Email">
          <input
            type="text"
            formControlName="email"
            placeholder="メールアドレス"
          />
        </div>
        <div class="login-Main_Password">
          <input
            type="password"
            formControlName="password"
            placeholder="パスワード"
          />
        </div>
        <div class="login-Main_Button">
          <button (click)="login()">ログイン</button>
        </div>
      </form>
    </div>
  </div>
  <!-- </div> -->
</div>
